<form>
  <div class="form-group">
    <label for="inputNome">Marca</label>
    <input type="text" class="form-control" id="inputNome" placeholder="Nome da Marca" 
    		ng-model="marca.nomeMarca">
  </div>
  <div class="form-group">
    <label for="inputNome">Descricao da Marca</label>
    <input type="text" class="form-control" id="inputNome" placeholder="Descricao da Marca" 
    		ng-model="marca.descMarca">
  </div>
  
  <button class="btn btn-primary" ng-click="save()">Salvar</button>
</form>